discord.py ~= 2.0.1
pre-commit ~= 3.2.1
pycodestyle ~= 2.10.0
requests ~= 2.28.1
setuptools ~= 67.6.0
sqlalchemy ~= 1.4.43
valorant-match-history @ git+https://github.com/make-or-break/valorant-match-history#6199f31
valorant-utils @ git+https://github.com/make-or-break/valorant-utils#f3efdc0
